In [6]:
import numpy as np


pokemon= {
    "pokemon_height": np.array(np.random.randint(10,15,10)),
    "pokemon_weight": np.array(np.random.randint(50,150,10)),
    "pokemon_power": np.array(np.random.randint(1000,1500,10))
    
}

print(pokemon)

{'pokemon_height': array([12, 11, 11, 11, 10, 13, 13, 13, 12, 10]), 'pokemon_weight': array([144, 124, 146, 127,  92,  69,  61,  54,  58,  99]), 'pokemon_power': array([1019, 1184, 1046, 1453, 1230, 1399, 1130, 1098, 1030, 1090])}

In [28]:
import pandas as pd
print( pd)

<module 'pandas' from 'c:\\users\\shubham\\appdata\\local\\programs\\python\\python38-32\\lib\\site-packages\\pandas\\__init__.py'>

In [36]:
df=pd.DataFrame(pokemon)
print(df)
df.head(n=10)

   pokemon_height  pokemon_weight  pokemon_power
0              12             144           1019
1              11             124           1184
2              11             146           1046
3              11             127           1453
4              10              92           1230
5              13              69           1399
6              13              61           1130
7              13              54           1098
8              12              58           1030
9              10              99           1090

   pokemon_height  pokemon_weight  pokemon_power
0              12             144           1019
1              11             124           1184
2              11             146           1046
3              11             127           1453
4              10              92           1230
5              13              69           1399
6              13              61           1130
7              13              54           1098
8              12              58           1030
9              10              99           1090

In [43]:
# creating data file csv (comma separated) file

df.to_csv('pokemon_data.csv')

In [52]:
###  read data from data file

In [55]:
dff= pd.read_csv('pokemon_data.csv')
dff

   Unnamed: 0  pokemon_height  pokemon_weight  pokemon_power
0           0              12             144           1019
1           1              11             124           1184
2           2              11             146           1046
3           3              11             127           1453
4           4              10              92           1230
5           5              13              69           1399
6           6              13              61           1130
7           7              13              54           1098
8           8              12              58           1030
9           9              10              99           1090

In [61]:
print(dff.drop(columns=['Unnamed: 0']))
print(dff.shape)

   pokemon_height  pokemon_weight  pokemon_power
0              12             144           1019
1              11             124           1184
2              11             146           1046
3              11             127           1453
4              10              92           1230
5              13              69           1399
6              13              61           1130
7              13              54           1098
8              12              58           1030
9              10              99           1090
(10, 4)