In [1]:

def sum(a,b,c,d,e=20,f=32):
    sum = a+b+c+d+e+f
    return sum


s = sum(2,3,24,5)

print(s)

86

In [4]:
s=sum(12,2,2,2,2,3)
print(s)

23

In [7]:

def printt(a,b,c):
    print(a)
    print(b)
    print(c)


printt(b="mid", a="top", c="end")

top
mid
end

In [13]:
def arguments(a,b, *args):  # catches all the remaining arguments as list of arg
    
    print(a,b)
    print (args)
    for i in args:
        print(i)


arguments(2,32,1,142,12,123)

2 32
(1, 142, 12, 123)
1
142
12
123

In [16]:
def arguments(a,b,* args, c=20, **kwargs):
    print("args are : ", args)
    print("Kwargs are : " , kwargs)
    print(a,b,c)


arguments(2,3,3242,234,23,4,32,name="shubham",c=11, age=324,e=32)

(3242, 234, 23, 4, 32)
{'name': 'shubham', 'age': 324, 'e': 32}
2 3 11